.DS_Store
Thumbs.db
.vscode/
.idea/
xcuserdata/
bin/Magic-Sand
bin/Magic-Sand_debug
bin/*.exe
bin/*.dll
bin/*.pdb
bin/*.ilk
bin/libs/
obj/
*.o
*.d
*.sdf
*.opensdf
*.suo
*.user
ipch/
.vs/
bin/Magic-Sand.exp
bin/Magic-Sand.lib
bin/*.exp
bin/*.lib
